.app {
  margin: 1em;
}

@media screen and (max-width: 560px) {
  .app{
    margin: 0;
  }
}

.turnering {
  float: left;
  width: 60%;
}

.turneringsvelger {
  float: left;
  width: 40%;
}

@media screen and (max-width: 960px) {
  .turnering {
    width: 100%;
  }

  .turneringsvelger {
    width: 100%;
  }

}
