.tekst {
    width: 15em;
    text-align: left;
}

.tall {
    text-align: right;
    width: 2em;
}

.bredtall {
    width: 4em;
    text-align: center;
}

@media screen and (max-width: 560px) {
  .bredtall {
      display: none;
  }
  .lav-pri {
    display: none;
  }
}


table {
    font-size: large;
    margin-bottom: 2em;
}
