.tekst {
    width: 15em;
    text-align: left;
}

.tall {
    text-align: right;
    width: 2em;
}

.bredtall {
    width: 4em;
    text-align: center;
}

@media screen and (max-width: 560px) {
  .bredtall {
      display: none;
  }
  .lav-pri {
    display: none;
  }
}


table {
    font-size: large;
    margin-bottom: 2em;
}

.klikkbar{
  cursor: pointer;
  text-decoration: underline;
}

.vinner {
  font-weight: bold;
}

.favoritt {
  width: 5em;
  background-color: #EEE;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.favoritt-true {
  background-color: #F00;
  color: white;

}
