doctype html
html
  head
    title Tabeller for alle
  body
    h1 Velg hvilken turnering du ønsker å se tabellen til

    ul#Turneringer
      li
        a(href="/tabell/154048") J11 Avdeling 11  - (Jenter Flatås1)
      li
        a(href="/tabell/153795") J11 Avdeling 7 - (Jenter Flatås2)
      li
        a(href="/tabell/153757") G11 Avdeling 7 - (Gutter Flatås2)
      li
        a(href="/tabell/153758") G11 Avdeling 8 - (Gutter Flatås1)
      li
        a(href="/tabell/153173") Eliteserien
      li
        a(href="/tabell/153180") Toppserien


    ul#Klubber
      li
        a(href="/krets/13") Trøndelag fotballkrets
