doctype html
html
  head
    title Tabeller for alle
  body
    h1 Velg hvilken turnering du ønsker å se tabellen til

    ul#Turneringer
      li
        a(href="/tabell/159645") J12 7er Avdeling 06  - (Jenter Flatås2)
      li
        a(href="/tabell/159653") J12 9er Avdeling 04 - (Jenter Flatås1)
      li
        a(href="/tabell/159617") G12 7er Avdeling 07 - (Gutter Flatås)
      li
        a(href="/tabell/158475") Eliteserien
      li
        a(href="/tabell/158476") Toppserien


    ul#Klubber
      li
        a(href="/krets/13") Trøndelag fotballkrets
