doctype html
html
  head
    title Tabeller for alle
    link(href='/css/style.css', rel='stylesheet')



  body
    h1 Klubber

    p
      ul#Turneringer
        each klubb in data.klubbliste
          li
            a(href= klubb.href)= klubb.navn
