.nummer {
  text-align: right;
  padding-right: .5rem
}

.tekst {
  text-align: left;
}

.kort-besk {
  width: 4rem;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
